/* global margin and padding */

* {
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    line-height: 2;
}

/* flexbox for header layout */

header {
    display: flex;  /* flex container */
    justify-content: space-between; 
    align-items: center;
    background-color: #4b4a4a;
    color: #fff;
    padding: 10px;
}

header nav ul {
    list-style: none;  /* removed bullet points */
}

/* style for links placement */

nav ul li {
    display: inline;  /* display items inline */
    margin-right: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none; /* removed underline on links */
}

.container {
    max-width: 960px;
    padding: 20px;
    margin: auto;
}

/* styling for profile picture */
.profile-pic {
    text-align: left;
    margin-bottom: 20px;
    background-image: url("../Images/background_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 25px;
}


.profile-pic img {
    max-width: 100%;
    height: 300px;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.profile-pic::before {
    content: "";
    position: absolute;
    z-index: 0;
}

.quote {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* flexbox for work boxes layout */

.work-boxes {
    display: flex;
    flex-wrap: wrap;
}

/* styling all work boxes using flexbox */

.work-box {
    flex: 1 1 calc(48% - 20px); /* flexbox properties */
    margin: 5px;
    padding: 100px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 25px;
    color: white;
}

.work-box a {
    display: block;
    color: inherit;
}
/* Styling for background images in work boxes */

.surf-report {
    flex: 1 1 100%;
    background-image: url('../Images/pexels-pixabay-255464.jpg');
    background-size: cover;
    background-position: center;
}

.led-wall {
    background-image: url('../Images/runbuddy.jpg');
    background-size: cover;
    background-position: center;
}

.calculator {
    background-image: url('../Images/pexels-photomix-company-172505.jpg');
    background-size: cover;
    background-position: center;
}

.pastel-puzzels {
    background-image: url('../Images/pexels-pixabay-531756.jpg');
    background-size: cover;
    background-position: center;
}

.run-buddy {
    background-image: url('../Images/pexels-craig-adderley-1546901.jpg');
    background-size: cover;
    background-position: center;
}

/* styling for contact me section */
.contact-me-section {
    background-color: #f5f5f5ff;
    color: #000000;
    padding: 20px;
    text-align: left;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.contact-me-title {
    flex: 1; 
}

.contact-me-links {
    flex: 1;
    text-align: right;

}
.contact-me-section ul {
    list-style: none;
    padding: 0;
}

.contact-me-section ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}

/* used for responsive layouts on smaller screen */

@media screen and (max-width: 768px) {
    header nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        padding: 10px;
    }
    .profile-pic img {
        height: 150px;
    }

    .about-me-title, .my-work-title, .contact-me-title {
        text-align: center;
    }
    
    .work-boxes {
        flex-direction: column;
    }

    .work-box {
        flex: 1 1 100%
    }
}