header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 20px;
}

main {
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    height: 100vh;
}




/* .profile-pic {
    height: 400px;
    background-position: left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */